:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login {
  width: 100%;
  max-width: 360px;

  form {
    display: flex;
    flex-direction: column;

    button[type='submit'] {
      margin: 15px auto 0;
    }
  }
}
