<div class="sidenav">
  <mat-toolbar color="primary">
    <button md-icon-button (click)="sideNav.toggle()" class="sidenav-close">
      <mat-icon aria-label="Menu" class="material-icons">menu_open</mat-icon>
    </button>
  </mat-toolbar>

  <mat-nav-list>
    <a
      *ngFor="let item of routes"
      mat-list-item
      (click)="sideNav.close()"
      [routerLink]="[item.route]"
      routerLinkActive="list-item-active"
    >
      <mat-icon matListIcon>{{ item.icon }}</mat-icon>
      {{ item.title }}
    </a>
    <a mat-list-item (click)="logout()">
      <mat-icon matListIcon></mat-icon>
      Loggout
    </a>
  </mat-nav-list>
</div>
