.header {
  .sidenav-open,
  .particles-btn {
    border: none;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
  }

  .toggle-theme {
    margin-left: auto;
    color: white;
  }

  .particles-btn {
    width: 40px;
    height: 40px;
    padding: 0;
  }
}
